:host {
    display: flex; 
    flex-grow: 1; 
    height: 100vh;
    background-color: black;
}


#anki-background {
    display: flex;
    flex-grow: 1;
    padding-left: 3em;
    padding-right: 3em;
    transition: background-color 500ms linear;
    -webkit-transition: background-color 500ms linear;
}

#chinese-card-content {
    flex: 100 0 0;
    text-align: center;
}