:host {
	display: flex;
	flex: 1;
	height: 65dvh;
	align-items: center;
	align-self: center;
	flex-flow: row nowrap;
	border-radius: 15px;
	padding: 1em;
	animation: fadeIn 1s;
	font-family: 'Noto Sans SC', sans-serif;
}

@media only screen and (max-width: 768px) {
	:host {
		height: 100dvh;
	}
}

:host(.recognition) {
	color: #404040;
	background-color: #b2f2bb;
}

:host(.writing) {
	color: #404040;
	background-color: #6fffe9;
}

:host(.tones) {
	color: #404040;
	background-color: #fff9b0;
}

:host(.sentence) {
	color: #404040;
	background-color: #d4b5e6;
}

:host(.audio) {
	color: #404040;
	background-color: #a2c8d1;
}

:host(.secondary-recognition) {
	color: #404040;
	background-color: #f7b6d2;
}

:host(.secondary-sentence) {
	color: #404040;
	background-color: #ffdab9;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
