:host {
  display: flex;
  flex: 1;
  height: 65vh;
  align-items: center;
  align-self: center;
  flex-flow: row nowrap;
  border-radius: 15px;
  padding: 1em;
}

:host(.recognition) {
  color: #A8DADC;
  background-color: #E63946;
  box-shadow: 0px 0px 30px #1D3557;
}

:host(.writing) {
  color: #1C2541;
  background-color: #6FFFE9;
  box-shadow: 0px 0px 30px #0B132B;
}

:host(.tones) {
  color: #073B4C;
  background-color: #06D6A0;
  box-shadow: 0px 0px 30px #073B4C;
}

:host(.sentence) {
  color: #000000;
  background-color: #F72585;
  box-shadow: 0px 0px 30px #3A0CA3;
}

:host(.audio) {
  color: #352D39;
  background-color: #FF6978;
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.8);
}

:host(.secondary-recognition) {
  color: #264653;
  background-color: #E9C46A;
  box-shadow: 0px 0px 30px #264653;
}


:host(.secondary-sentence) {
  color: #264653;
  background-color: #E9C46A;
  box-shadow: 0px 0px 30px #264653;
}