ruby {
  vertical-align: bottom;
}

#phonic-only-phonic {
  font-size: xx-large;
}

#primary-item {
  font-size: xx-large;
}

#secondary-item {
  font-size: large;
}

#vocabulary-phonic {
  font-size: large;
  vertical-align: bottom;
}

#sentence-phonic {
  font-size: medium;
}

#pleco-link {
  text-decoration: none; 
  color: inherit;
}

#hanzi {
  line-height: 1em;
  font-size: 2em;
  vertical-align: middle;
}

#phonic {
  line-height: 1em;
  font-size: 0.8em;
  vertical-align: middle;
}

#phonic-only > div {
  display: none;
}

.no-show {
  display: none;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
}