#vocabulary-meaning {
    font-size: 2.75vw;
}

.no-show {
    visibility: hidden;
}

.fade-in {
    visibility: visible;
    animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}